<div class="home-container">
  <div class="block-1">
    <p>CITI Hackathon: Macro-Trend Detector</p>
  </div>
  <div class="block-2">
    <div class="image-container">
      <img src="../../assets/landing-bg-2.png" alt="landing-page-cover" />
    </div>
    <div class="ip-container">
      <div class="button-container">
        <button (click)="onClickLiveStream()">Live Stream</button>
      </div>
      <div class="button-container">
        <button (click)="onClickCheckPreviousTrends()">Previous Trends</button>
      </div>
    </div>
  </div>
</div>
