.home-container {
  .block-1 {
    p {
      text-align: center;
      font-size: 40px;
      padding: 2%;
      margin: 2%;
    }
  }
  .block-2 {
    text-align: center;
    .image-container {
      margin-left: -120px;
      margin-top: -50px;
      img {
        width: 50%;
      }
    }
    .button-container {
      button {
        margin: 2%;
        width: 150px;
        padding: 8px 16px;
        border: none;
        outline: none;
        color: #ffffff;
        background-color: #4caf50;
        cursor: pointer;
        font-size: 16px;
        &:hover {
          box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%),
            0 6px 20px 0 rgb(0 0 0 / 19%);
        }
      }
    }
    .prev-container {
      margin-top: 40px;
      span {
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
