<div class="home-container">
  <div class="block-1">
    <p>Citi Hackathon: <i>mTrend</i>  Detector</p>
  </div>
  <div class="block-2">
    <div class="image-container">
      <img src="../../assets/loader.gif" alt="landing-page-cover" />
    </div>
    <div class="ip-container">
      <div class="button-container">
        <button (click)="onClickLiveStream()">Live Stream</button>
        <button (click)="onClickCheckPreviousTrends()">Previous Trends</button>
      </div>
    </div>
  </div>
</div>