<div>
  <div *ngIf="showLoader" class="loader">
    <div>
      <img src="../../assets/main-loader.gif" alt="loader-icon" />
    </div>
  </div>
  <div class="stop-streaming">
    <button [class.disabled]="!isLiveStreamOn" (click)="onClickStopStreaming()">
      STOP STREAM
    </button>
  </div>
  <div *ngIf="!showLoader" class="asset-class-container">
    <ul>
      <li *ngFor="let ac of tilesData">
        {{ ac | uppercase }}
      </li>
    </ul>
  </div>
  <div *ngIf="!showLoader" class="charts-container">
    <div class="chart-1">
      <canvas
        baseChart
        [datasets]="barChartDataWF"
        [labels]="barChartLabelsWF"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [colors]="barChartColors"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
    <div class="chart-2">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [colors]="barChartColors"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
</div>
