.loader {
  background: black;
  opacity: 0.8;
  position: absolute;
  z-index: 9999999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  div {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
    }
  }
}
.stop-streaming {
  padding: 2% 3%;
  text-align: right;
  button {
    width: 150px;
    padding: 8px 16px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #ff0844;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    &.disabled {
      background: gray;
    }
  }
}
.charts-container {
  display: flex;
  margin: 4% 0;
  .chart-1 {
    flex: 1;
    margin: 1.5%;
    background: linear-gradient(to right, #0ac282, #0df3a3);
  }
  .chart-2 {
    flex: 1;
    margin: 1.5%;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
  }
}
.asset-class-container {
  ul {
    font-size: 26px;
    list-style: none;
    padding-left: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2%;
    li {
      display:inline-flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
      flex: 1;
      margin: 1%;
      height: 150px;
   
      .trend-txt {
        font-size: 16px;
        font-weight: 600;
      }
      &:first-child {
        background-image: radial-gradient(
          circle 248px at center,
          #16d9e3 0%,
          #30c7ec 47%,
          #46aef7 100%
        );
      }
      &:nth-child(2) {
        background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
      }
      &:nth-child(3) {
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
      }
      &:nth-child(4) {
        background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
      }
      
    }
  }
}
